<!DOCTYPE html>
<html>
    <br>
    <a href="/users/register/">Register</a>
    <br><br>
    <a href="{% url 'home' %}">Home</a>
    <br><br>
    <a href="{% url 'select_body_type' %}">Select Body Type</a>
    <br>
<head>
    <title>Select Brand</title>
</head>
<body>
    <h1>Select Brand</h1>
    <form method="post">
        {% csrf_token %}
        <select name="brand">
            <option value="">Select Brand</option>
            {% for brand in brands %}
                <option value="{{ brand.id }}">{{ brand.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Next">
    </form>
</body>
</html>
