<!DOCTYPE html>
<html>
<head>
    <title>Select Body Type</title>
</head>
<body>
    <h1>Select Body Type</h1>
    <form method="post">
        {% csrf_token %}
        <select name="body_type">
            <option value="">Select Body Type</option>
            {% for body_type in body_types %}
                <option value="{{ body_type.id }}">{{ body_type.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Next">
    </form>
</body>
</html>
