<!DOCTYPE html>
<html>
    <br>
    <a href="/users/register/">Register</a>
    <br><br>
    <a href="{% url 'home' %}">Home</a>
    <br><br>
    <a href="/users/register/">Register</a>
    <br><br>
    <a href="{% url 'select_brand' body_type_id=1 %}">Select Brand</a>
    <br>
<head>
    <title>Select Body Type</title>
</head>
<body>
    <h1>Select Body Type</h1>
    <form method="post">
        {% csrf_token %}
        <select name="body_type">
            <option value="">Select Body Type</option>
            {% for body_type in body_types %}
                <option value="{{ body_type.id }}">{{ body_type.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Next">
</body>
</html>
