<!DOCTYPE html>
<html>
</form>
    <br>
    <a href="/users/register/">Register</a>
    <br><br>
    <a href="{% url 'home' %}">Home</a>
    <br><br>
    <a href="{% url 'select_body_type' %}">Select Body Type</a>
    <br><br>
    <a href="{% url 'select_brand' body_type_id=1 %}">Select Brand</a>
<head>
    <title>Select Model</title>
</head>
<body>
    <h1>Select Model</h1>
    <form method="post">
        {% csrf_token %}
        <select name="car_model">
            <option value="">Select Model</option>
            {% for car_model in car_models %}
                <option value="{{ car_model.id }}">{{ car_model.name }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Next">
    </form>
</body>
</html>
